In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
bridge_df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [18]:
enc = OneHotEncoder(handle_unknown='ignore')
enc

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

In [23]:
bridge_df['Bridge_Types'] = bridge_df['Bridge_Types'].astype('category')
bridge_df['Bridge_Types_Cat'] = bridge_df['Bridge_Types'].cat.codes
bridge_df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

In [25]:

enc_df = pd.DataFrame(enc.fit_transform(bridge_df[['Bridge_Types_Cat']]).toarray())
enc_df

     0    1    2    3    4    5    6
0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6  0.0  0.0  1.0  0.0  0.0  0.0  0.0

In [26]:
bridge_df = bridge_df.join(enc_df)
bridge_df

  Bridge_Types  Bridge_Types_Cat    0    1    2    3    4    5    6
0         Arch                 0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Beam                 1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2        Truss                 6  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3   Cantilever                 3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    Tied Arch                 5  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5   Suspension                 4  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6        Cable                 2  0.0  0.0  1.0  0.0  0.0  0.0  0.0